<article class='blog_comment_message' id='<%= "comment-#{comment.to_param}" %>'>
  <p>
    <%= simple_format auto_link(comment.message.to_s) %>
  </p>
  <footer class='blog_comment_author'>
    <h4>
    	<%= 'by ' + comment.name %> -
      <%= time_ago_in_words(comment.created_at) + ' ago' %>
    </h4>
  </footer>
</article>
