<nav id="comic-nav">
	<a href="/" class="previous disabled">previous</a>
	<div class="page-count">
		<span class="currentpage">1</span>
		<span class="page-total"> / <%= comic_pages.count %></span>
	</div>
	<a href="/" class="next">next</a>
</nav>