<% content_for :body_content_left do %>
	<header class="section-header">
		<h3>Comics</h3>
	</header>
		<section id="comics">
			<%= render :partial => "/comics/comic", :collection => @comics %>
		</section>
<% end %>
<% content_for :body_content_right do %>
		<nav id="secondary">
			<section>
				<header class="nav-header">
					<h4>Updates</h4>
				</header>
				<div id="tweet"></div>
			</section>
			<%= render :partial => "/shared/secondary-nav.html.erb" -%>
		</nav>
<% end %>