<header class="nav-header">
	<h3>Other Links</h3>
</header>
<ul>
	<li><a href="http://www.quimbys.com/" target="_blank">Quimby's</a></li>
	<li><a href="http://www.higginscopy.com/" target="_blank">Higgins Copy</a></li>
	<li><a href="http://joesak.com/" target="_blank">Joe Sak</a></li>
	<li><a href="http://exhibited.wordpress.com/" target="_blank">Exhibited</a></li>
	<li><%= render :partial => "/blog/shared/rss_feed" %></li>
</ul>