// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";
@import "compass/css3";


body {
	margin:0;
	padding:0;
	font-family:"Paperback6Roman", georgia, "times new roman", serif;
	text-align:left;
	font-size:.8em;
	color:#222;
	background-color:#f3f2ee;
}

h1 {
	font-family:"Neutraface2TextBold",helvetica,arial,sans-serif;
	font-weight:normal;
	font-size:8em;
	padding:0;
	margin:0;
}

h2 {
	font-family:"Neutraface2TextBold",helvetica,arial,sans-serif;
	font-weight:normal;
	font-size:1.6em;
	padding:0;
	margin:.2em 0 0;
	line-height:1em;
}

h3 {
	font-family:"Neutraface2TextDemi",helvetica,arial,sans-serif;
	text-transform:uppercase;
	font-size:1em;
	color:#26aa89;
	margin:0;
	padding:0;
	font-weight:normal;
	a {
		color:#26aa89;
		text-decoration:none;
		&:hover {text-decoration:underline;}	
	}
}

h4 {
	font-family:"Neutraface2TextLight",helvetica,arial,sans-serif;
	font-size:1em;
	text-transform: lowercase;
	margin:0;
	padding:0;
	font-weight:normal;
	a {
		color:#222;
		text-decoration:none;
		&:hover {text-decoration:underline;}
	}
}

p {
	margin:0;
	padding:0;
	font-size:.85em;
	font-weight:normal;
}

#wrapper {
	width:1020px;
	margin:30px auto 0;
	background-color:#FFF;
	border:1px solid #e0dbc7;
	#main {
		width:980px;
		margin:0 20px 40px;
		position:relative;
	}
}

#color-accent {
	height:8px;
	width:100%;
	background-color:#92d4c4;
}

#header {
	overflow:hidden;
	padding-top:20px;
	#logo a {
		background:url('/images/logo.png') no-repeat;
		width:322px;
		height:31px;
		display:block;
		float:left;
		padding-bottom:20px;
		text-indent:-9999px;
	}
}

nav#primary {
	position:absolute;
	top:-25px;
	right:0;
	z-index:1;
	font-family:"Neutraface2TextLight",helvetica,arial,sans-serif;
	font-size:1em;
	text-transform: lowercase;
	a {
		display:inline-block;
		padding:3px 5px 3px;
		color:#b2ad9a;
		text-decoration:none;
		&:hover {
			color:#333;
			background-color:#e0dbc7;
			@include border-radius(5px);
		}
	}
	.current-page {
		color:#333;
		background-color:#e0dbc7;
		@include border-radius(5px);
	}
}

#feature{
	border-bottom:1px solid #999;
	position:relative;
	margin-bottom:20px;
	@include span(8);
	height:150px;
	img {
		position:absolute;
		left:720px;
		top:-45px;
		z-index:2;
	}
}

#body_content {
	border-top:3px double #333;
	width:100%;
	overflow:hidden;
	.section-header {
		border-bottom:1px solid #999;
		overflow:hidden;
		padding:.7em 0;
		position:relative;
		height:15px;
		h3 {float:left;}
		.pagination {
			font-family:"Neutraface2TextLight",helvetica,arial,sans-serif;
			font-size:1.2em;
			position:absolute;
			right:0;
			top:5px;
			a{
				display:inline-block;
				padding:0 5px 3px;
				color:#CCC;
				text-decoration:none;
				&:hover {
					color:#333;
					background-color:#dbdbdb;
					@include border-radius(5px);
				}
			}
			em {
				font-weight:bold;
				padding:0 5px 3px;
			}
			.disabled{display:none;}
		}
	}
	nav {
		float:right;
		h4 {
			display:inline;
			margin-left:.7em;
		}
	}
	#body_content_left {@include column(6);}
	#body_content_right {
		@include column(2, true);
	}
	#secondary {
		position:relative;
		@include column(2, true);
		.nav-header {
		border-bottom:1px solid #999;
		padding:.7em 0;
		height:15px;
		}		
		.post-image {
			border:1px solid #999;
			margin:15px 0 10px;
			width:228px;
			height:90px;
			position:relative;
			img {
				position:absolute;
				top:-10px;
				left:0;
				width:230px;
				height:100px;
			}
		}
		ul {
			margin:5px 0 15px;
			padding:0;
			list-style:none;
			li {
				font-family:"Neutraface2TextLight",helvetica,arial,sans-serif;
				text-transform:lowercase;
				font-size:1em;
				margin:0;
				padding:0;
				font-weight:normal;
				a {
					color:#222;
					text-decoration:none;
					&:hover {text-decoration:underline;}
				}
			}
			.selected {
				font-family:"Neutraface2TextDemi",helvetica,arial,sans-serif;			
			}
		}
		#tweet {
			li {
				margin-bottom:10px;
				.tweet_time {
					display:block;
				}
				a {
					color:#26aa89;
					&:hover{text-decoration:underline;}				
				}
			}
		}
	}
	#articles {
		@include column(4);
		.post {
			@include column(2);
			&:nth-child(even) {@include column(2, true);}
		}
	}
	#home-comics {
		@include column(2, true);
		#comics {
			@include column(2); 
			height:auto;
			.post-header {
				position:relative;
				.post-image {
					border:1px solid #999;
					margin:15px 0 10px;
					width:230px;
					height:90px;
					position:relative;
					img {
						position:absolute;
						top:-10px;
						left:0;
						width:230px;
						height:100px;
					}
				}
				h2 a { 
					color:#222;
					text-decoration:none;
					&:hover {text-decoration:underline;}
				}
			}
			section {
				margin:0 0 2px;
				p {
					padding-top:5px;
				}
			}
			.post-footer .read-more {
				font-family:"Neutraface2TextLight",helvetica,arial,sans-serif;
				display:inline-block;
				margin:0 0 .6em 0;
				padding:0;
				font-size:1.1em;
				text-transform:lowercase;
				text-decoration:none;
				color:#26aa89;
				&:hover {text-decoration:underline;}
			}	
		}
		.more {
			clear:both;
			border-bottom:1px solid #999;
			padding:1em 0 .7em;
			margin-bottom:5px;
			height:15px;
		}
	}
}

#posts, #blog_posts {
	.post { 
		@include column(2);
		padding:0;
		height:430px;
		z-index:6;
		&:nth-child(3n+3) {@include column(2, true);}
		.post-header {
			position:relative;
			.post-image {
				border:1px solid #999;
				margin:15px 0 10px;
				width:230px;
				height:90px;
				position:relative;
				img {
					position:absolute;
					top:-10px;
					left:0;
					width:230px;
					height:100px;
				}
			}
			h2 a { 
				color:#222;
				text-decoration:none;
				&:hover {text-decoration:underline;}
			}	
			.details {
				color:#26aa89;
				font-weight:normal;
				font-size:1.1em;
				margin:.2em 0;
				padding:0;
				.date {font-family:"Neutraface2TextLight",helvetica,arial,sans-serif; text-transform:lowercase;}
				.tags {
					font-family:"Neutraface2TextLight",helvetica,arial,sans-serif;
					display:inline;
					margin:0;
					padding:0;
					a {
						display:inline;
						margin:0 .3em 0 0;
						padding:0;
						text-decoration:none;
						color:#26aa89;
						&:hover {text-decoration:underline;}
					}
				}
			}
		}
		section {
			margin:0 0 5px;
			p {
				padding-top:5px;
			}
		}
		.post-footer .read-more {
			font-family:"Neutraface2TextLight",helvetica,arial,sans-serif;
			display:inline;
			margin:0 .3em 0 0;
			padding:0;
			font-size:1.1em;
			text-transform:lowercase;
			text-decoration:none;
			color:#26aa89;
			&:hover {text-decoration:underline;}
		}		
	}
}

#comics {
	@include column(6);
	.comic-post { 
		@include column(2);
		padding:0;
		height:325px;
		z-index:6;
		&:nth-child(3n+3) {@include column(2, true);}
		.post-header {
			position:relative;
			.post-image {
				border:1px solid #999;
				margin:15px 0 10px;
				width:230px;
				height:90px;
				position:relative;
				img {
					position:absolute;
					top:-10px;
					left:0;
					width:230px;
					height:100px;
				}
			}
			h2 a { 
				color:#222;
				text-decoration:none;
				&:hover {text-decoration:underline;}
			}
		}
		section {
			margin:0 0 5px;
			p {
				padding-top:5px;
			}
		}
		.post-footer .read-more {
			font-family:"Neutraface2TextLight",helvetica,arial,sans-serif;
			display:inline;
			margin:0 .3em 0 0;
			padding:0;
			font-size:1.1em;
			text-transform:lowercase;
			text-decoration:none;
			color:#26aa89;
			&:hover {text-decoration:underline;}
		}		
	}
}


#show_blog_post {
	@include column(6);
	h2{ 
		margin-top:1em;		
	}	
	.post-header {
		position:relative;
		.details {
			color:#26aa89;
			font-weight:normal;
			font-size:1.1em;
			margin:.2em 0;
			padding:0;
			.date {font-family:"Neutraface2TextLight",helvetica,arial,sans-serif; text-transform:lowercase;}
			.tags {
				font-family:"Neutraface2TextLight",helvetica,arial,sans-serif;
				display:inline;
				margin:0;
				padding:0;
				a {
					display:inline;
					margin:0 .3em 0 0;
					padding:0;
					text-decoration:none;
					color:#26aa89;
					&:hover {text-decoration:underline;}
				}
			}
		}
	}
	section {
		margin:0 0 5px;
		p {
			padding-top:5px;
		}
	}	
	#next_prev_article {
		font-family:"Neutraface2TextLight",helvetica,arial,sans-serif;
		a { 
			color:#26aa89;
			text-decoration:none; 
			&:hover {text-decoration:underline;}
		}
	}
}

#show_comic {
	@include column(6);
	h2{ 
		margin-top:1em;		
	}	
	.comic-header {
		position:relative;
	}
	section {
		margin:0 0 5px;
		p {
			padding-top:5px;
		}
	}	
}

#comic-page {
	@include column(8);
	position:relative;
	border-bottom:1px solid #999;
	.page {
		display:none;
		margin:10px auto;
	}
	.show {display:block;}
}

#comic-nav {
	position:absolute;
	top:23px;
	right:20px;
	font-family:"Neutraface2TextLight",helvetica,arial,sans-serif;
	.page-count {padding:5px 8px; display:inline-block;}
	a {
	display:inline-block;
	padding:3px 5px;
	color:#b2ad9a;
	text-decoration:none;
		&:hover {
			color:#444;
			background-color:#e0dbc7;
			@include border-radius(5px);
		}
	}
	.disabled {
		color:#f3f2ee;
		cursor:default;
		&:hover {
			color:#f3f2ee;
			background-color:#FFF;
			@include border-radius(0);
		}
	}
}

#comments {
	margin:20px 0 0;
	h3 {
		margin-bottom:10px;
	}
	h4 {
		color:#26aa89;
	}
	#comment-form {
		font-family:"Neutraface2TextLight",helvetica,arial,sans-serif;		
		margin-top:20px;
		padding:20px;
		background:#efefef;
		border:1px solid #dbdbdb;	
	}
}

#portfolio {
	#portfolio_main_image_container {
		margin:10px 0;
		padding-bottom:10px;
		border-bottom:1px solid #999;
	}
	#portfolio_images {
		li {
			@include column(1);
			img {padding:3px;
				&:hover{border:3px solid #26aa89; padding:0;}
			}
		}
	}
}

#page-footer {
	font-family:"Neutraface2TextLight",helvetica,arial,sans-serif;
	font-size:1.1em;
	text-transform:lowercase;
	width:980px;
	margin:10px auto 20px;
	background-color:#FFF;
	border:1px solid #e0dbc7;
	padding:8px 20px;
	z-index:-1;
	overflow:hidden;
	a { 
		color:#b2ad9a;
		text-decoration:none; 
		&:hover {text-decoration:underline;}
	}
	p {
		color:#b2ad9a;
		float:right;
	}
	#footer-nav {
		float:left;
		@include column(3);
	}
}

.hide {
	display:none;
}