<li class="comic_page" id="comic_page_ids-<%= comic_page.id %>"> 
  <span class="handle"></span> 
  <%= image_tag comic_page.image.thumb('150x150>').url %><br>
  <p class="stuff">
    <%#= link_to 'edit', edit_comic_page_path(comic_page) %>
  </p>
</li>